/* Give the image 3px of space to breathe. */
.jwf-chosen-photo{
   /*display: none;*/
  padding: 5px 5px;
}
.jwf-chosen-photo img{
   text-align: center;
   float: left;
   margin: 5px 5px;
   height: 150px;
}

.jwf-chosen-photo img:last-child{
clear:both;
 float: none;
}
