.jwf_gallery_main {
    margin-top: 20px;
    width: 95%;
}

.jwf_gallery_item>img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 1;
    width: 150px;
}

.jwf_gallery_item:hover>img {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    z-index: 1;
}

.jwf_gallery_item:hover>.jwf_gallery_delete {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url('../images/delete-flat-32.png');
    cursor: pointer;
    margin-left: 133px;
    margin-top: -8px;
    display: block;
    z-index: 9999;
}

.jwf_gallery_item>.jwf_gallery_updated {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url('../images/caution-32.png');
    margin-left: 61px;
    margin-top: 61px;
    display: none;
    z-index: 9998;
}

.jwf_gallery_item:hover>.jwf_option_update {
    width: 120px;
    height: 52px;
    position: absolute;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    padding: 10px 0px 10px 20px;
    display: block;
    z-index: 9999;
}

.jwf_gallery_item>.jwf_option_update>.jwf_gallery_edit {
    width: 48px;
    height: 48px;
    position: relative;
    background-image: url('../images/update-more-48.png');
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
}

.jwf_gallery_item>.jwf_option_update>.jwf_gallery_change {
    width: 48px;
    height: 48px;
    position: inher;
    background-image: url('../images/image-48.png');
    cursor: pointer;
    display: inline-block;
    margin-left: -10px;
}

.jwf_gallery_item>.jwf_option_update>.jwf_gallery_view_external {
    width: 48px;
    height: 48px;
    position: inher;
    background-image: url('../images/view.svg');
    cursor: pointer;
    display: inline-block;
    margin-left: -10px;
}

.jwf_gallery_item:hover>.jwf_option_update {
    display: block;
}

.jwf_gallery_item:hover {
    cursor: all-scroll;
}

.jwf_gallery_item>.jwf_gallery_delete,
.jwf_gallery_item>.jwf_option_update {
    display: none;
}

.jwf_gallery_item .jwf-gallery-img-label-value {
    text-align: center;
    width: 150px;
    /* clear: both; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.jwf_gallery_item {
    width: 154px;
    height: 154px;
    float: left;
    padding: 2px 3px 20px 3px;
    margin: 2px 3px;
    background-color: #f8f8f8;
}

.jejo-notice {
    color: red;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
}

div.jwf-tab-content:nth-of-type(1) {
    display: block;
}

div.jwf-tab-content {
    display: none;
}

.form-field td.jejo-libs-custom-taxonomy {
    padding: 15px 0px;
}

.form-field td.jejo-libs-custom-taxonomy .inside {
    margin-top: 0px;
}

.form-field td.jejo-libs-custom-taxonomy .inside p.description {
    font-size: 12px;
}

.form-field td.jejo-libs-custom-taxonomy .inside h3 a.nav-tab {
    padding: 5px 24px;
    font-size: 14px;
    line-height: 24px;
}

.jwf-controls label {
    display: block;
    font-weight: bold;
    margin: 0 0 3px;
    padding: 0;
}

.jwf-controls input {
    margin: 0 0 5px;
    padding: 3px;
}


.jwf-box-disabled .jwf-box-info-message{
  color: brown;
  padding: 10px 0px;
  font-weight: bold;
}
.jwf-box-disabled .jwf-box-html{
  color: gray;
}
